.container {
  width: 100%;
  padding: 3rem 0;
  max-width: 800px;
  margin: 0 auto;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.pageHeader h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#forgotPasswordForm {

}